:root {
	--primary-text-bg-color: #2e2f42;
	--hero-title-text-color: #ffffff;
	--primary-bg-color: #ffffff;
	--description-tel-mail-color: #434455;
	--primary-border-color: #e7e9fc;
	--bg-btn-foot-color: #f4f4fd;
	--accent-color: #4d5ae5;
	--accent-color-2: #404bbf;
	--secondaty-font: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	background-color: var(--primary-bg-color);
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--primary-text-bg-color);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.container {
	width: 1158px;
	margin: 0 auto;
	padding: 0 15px;
}

.section {
	padding: 120px 0;
}

/* ---------HEADER----------- */

.header {
	border-bottom: 1px solid var(--primary-border-color);
}

.header .container {
	display: flex;
	align-items: center;
}

.header-navigation {
	display: flex;
	align-items: center;
}

.heder-logo {
	padding: 24px 0;

	font-family: var(--secondaty-font);
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
}

.logo-one {
	color: var(--accent-color);
}

.logo-two {
	color: var(--primary-text-bg-color);
}

.heder-logo:focus {
	color: var(--accent-color);
}

.header-list {
	display: flex;
	margin-left: 76px;
	gap: 40px;
}
/* .heder-item:not(:first-child) {
  margin-left: 40px;
} */

.header-link {
	padding: 24px 0;
	font-weight: 500;
	color: var(--primary-text-bg-color);

	position: relative;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
	content: "";
	display: block;
	min-width: 100%;
	height: 4px;

	position: absolute;
	bottom: 0;
	left: 0;

	background-color: var(--accent-color-2);
	border-radius: 2px;
}

.header-contact {
	display: flex;
	margin-left: auto;
}

.contact-item:not(:first-child) {
	margin-left: 40px;
}

.header-tel,
.header-mail {
	padding: 24px 0;

	font-weight: 400;
	color: var(--description-tel-mail-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact .link:is(:hover, :focus),
.header-link:is(:hover, :focus) {
	color: var(--accent-color);
}

.header-link.current {
	color: var(--accent-color);
}

/* -----------HERO-------------- */

.hero {
	padding: 188px 0;

	max-width: 1440px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: radial-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/peopleoffice.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	background-color: var(--primary-text-bg-color);
}

.hero .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-title {
	margin-bottom: 48px;
	max-width: 496px;
	text-align: center;

	font-size: 56px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	color: var(--hero-title-text-color);
}

.hero-btn {
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 16px 32px;

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--hero-title-text-color);
	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:is(:hover, :focus) {
	background-color: var(--accent-color-2);
}

/* --------------ABOUT-------------- */

.about {
	padding-bottom: 0;
}

.about-list {
	display: flex;
	gap: 24px;
}

.about-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 112px;
	margin-bottom: 8px;

	background-color: var(--bg-btn-foot-color);
	border-radius: 4px;
}

.about-item {
	width: calc((100%-72px) / 4);
}

/* .about-item:nth-child(-n + 3) {
  margin-right: 24px;
} */

.about-title {
	margin-bottom: 8px;

	font-size: 20px;
	line-height: 0.83;
	letter-spacing: 0.02em;
	font-weight: 500;
}

.about-description {
	font-weight: 400;
	color: var(--description-tel-mail-color);
}

/* --------------WORKING-------------- */

.working {
	text-align: center;
}

.working-title {
	margin-bottom: 72px;

	font-size: 36px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	font-weight: 700;
}

.working-list {
	display: flex;
	gap: 24px;
}

.working-list .container {
	background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
	background-blend-mode: soft-light, normal;
	border: 1px solid var(--primary-border-color);
}

.working-item {
	width: calc((100%-48px) / 3);
	max-width: 360px;
}

/* .working-item:nth-child(-n + 2) {
  margin-right: 24px;
} */

/* --------------TEAM-------------- */

.team {
	background-color: var(--bg-btn-foot-color);
}

.team-title {
	margin-bottom: 72px;

	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	font-weight: 700;
	text-transform: capitalize;
	color: var(--primary-text-bg-color);
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	/* якщо добавиться контент */
	gap: 24px;
}

.team-item {
	width: calc((100%-72px) / 4);
	max-width: 264px;

	background: var(--primary-bg-color);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

/* .team-item:nth-child(-n + 3) {
  margin-right: 24px;
} */

.team-content {
	text-align: center;
	padding: 32px 0;
}

.team-subtitle {
	margin-bottom: 8px;

	font-size: 20px;
	line-height: 0.83;
	letter-spacing: 0.02em;
}

.team-description {
	font-weight: 400;
	color: var(--description-tel-mail-color);

	margin-bottom: 8px;
}

.team-social-list {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.team-sicial-item {
	width: 40px;
	height: 40px;
}

.team-social-link {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--accent-color);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:is(:hover, :focus) {
	background-color: var(--accent-color-2);
}

/* -------------company------------- */

.company {
	padding-top: 130px;
}

.company-title {
	margin-bottom: 72px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	color: var(--primary-text-bg-color);
}

.company-list {
	display: flex;
	gap: 24px;
}

.company-item {
	width: 168px;
	height: 88px;
}

.company-link {
	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid #8e8f99;
	border-radius: 4px;
	width: 100%;
	height: 100%;

	color: #8e8f99;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-icon {
	fill: currentColor;
}

.company-link:is(:hover, :focus) {
	border-color: var(--accent-color-2);
	color: var(--accent-color-2);
}

/* ----------FOOTER---------- */

.footer {
	padding: 100px 0;

	background-color: var(--primary-text-bg-color);
}

.footer .container {
	display: flex;
	gap: 120px;
}

.footer-logo {
	display: block;
	margin-bottom: 16px;
}

.footer-logo .one,
.footer-logo .two {
	font-family: var(--secondaty-font);
	font-weight: 800;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.footer-logo .one {
	color: var(--accent-color);
}

.footer-logo .two {
	color: var(--bg-btn-foot-color);
}

.footer-logo:focus {
	color: var(--accent-color-2);
}

.footer-description {
	max-width: 264px;

	color: var(--primary-border-color);
}

.footer-title {
	margin-bottom: 16px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	color: var(--hero-title-text-color);
}

.footer-social-list {
	display: flex;
	gap: 16px;
}

.footer-sicial-item {
	width: 40px;
	height: 40px;
}

.footer-social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;

	background-color: rgba(255, 255, 255, 0.1);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:is(:hover, :focus) {
	background-color: rgb(49, 208, 170);
}

/* --------------Modal--------------- */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);

	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal {
	display: flex;
	justify-content: flex-end;

	padding: 24px;

	min-width: 408px;
	min-height: 576px;
	border-radius: 4px;
	background-color: #fcfcfc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 24px;
	height: 24px;
	border-radius: 50%;

	background-color: #e7e9fc;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: rgb(0, 0, 0);

	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-icon:is(:hover, :focus) {
	border: none;
	background-color: var(--accent-color-2);
	color: var(--hero-title-text-color);
}

.modal-icon {
	fill: currentColor;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------------Page 2------------ */

/* --------------BENEFITS-------------- */

.benefits {
	padding-top: 96px;
}

/* ----------Меню кнопок------- */

.btn-list {
	display: flex;
	justify-content: center;
	gap: 24px;

	margin-bottom: 72px;
}

/* .btn-list .btn-item + .btn-item {
  margin-left: 24px;
} */

.btn {
	padding: 12px 24px;

	background-color: var(--bg-btn-foot-color);
	border-radius: 4px;
	border: 1px solid var(--primary-border-color);

	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--accent-color);

	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:is(:hover, :focus) {
	background-color: var(--accent-color-2);
	border-color: var(--accent-color-2);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	color: var(--hero-title-text-color);
}

/* ----------Картки послуг------- */

.benefits-list {
	display: flex;
	flex-wrap: wrap;
	gap: 48px;
	column-gap: 24px;
}

.benefits-item {
	width: calc((100%-48px) / 3);
	max-width: 360px;
}

.benefits-item:nth-last-child(-n + 3) {
	margin-bottom: 0px;
}

.benefits-link {
   display: block;
   
	color: inherit;

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-link:hover {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.benefits-thumb {
	overflow: hidden;
	position: relative;
}

.benefits-overlay {
	padding: 40px 32px 164px;

	color: var(--bg-btn-foot-color);
	background-color: var(--accent-color);

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	transform: translateY(100%);

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits-link:hover .benefits-overlay {
	transform: translateY(0);
	opacity: 0.9;
}

/* .benefits-item:nth-child(3n) {
  margin-right: 0;
} */

.benefits-item .text {
	padding: 32px 16px;
	border: 1px solid var(--primary-border-color);
	border-top: none;
}

.benefits-item .text:hover {
	border: 0.5px solid var(--primary-border-color);
	border-top: none;
}

.benefits-subtitle {
	margin-bottom: 8px;

	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
}

.benefits-description {
	font-weight: 400;
	color: var(--description-tel-mail-color);
}
